body {
  background: #f4d1b1;
  margin: 0;
}

main {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  min-height: 100vh;
  box-sizing: border-box;
}

button {
  background: #000;
  color: #fff;
  font-weight: 600;
  padding: 15px 25px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-size: large;
  transition: background 200ms, color 200ms;
}

button:hover {
  background: #fff;
  color: #000;
}

#menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

section {
  width: 100%;
  max-width: 400px;
  display: flex;
  padding: 10px;
  gap: 30px;
}

section p,
section h1 {
  margin: 0;
}

section > h1 {
  width: 120px;
  font-size: 28px;
}

#item > p {
  font-size: 24px;
  font-weight: 500;
}

#item {
  opacity: 0.7;
  padding: 5px;
  display: flex;
  gap: 10px;
}
